* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#controls {
  margin-bottom: 20px;
  text-align: center;
}

#controls p {
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 25px;
}

#controls p input[type=text] {
  width: 50px;
  height: 10px;
  margin-left: 10px;
  padding: 5px;
  float: right;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#controls p input[type=text]:focus {
  outline: none;
  border-color: #aaa;
}

#controls p label {
  float: right;
}

#controls p:last-child {
  text-align: center;
}

#controls p:last-child button {
  cursor: pointer;
}

#controls-content {
  display: inline-block;
  text-align: left;
}

#content-block {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  overflow-y: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#content-block .content {
  height: inherit;
  overflow-y: auto;
}

#content-block .content p {
  margin-bottom: 5px;
}

#pager {
  margin-top: 20px;
  text-align: center;
}

#pager-content {
  display: inline-block;
}

#pager-content * {
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  border-radius: 2px;
  background: #CCC;
  cursor: pointer;
}

#first-page, #prev, #next, #last-page {
/*display: none;*/
  visibility: hidden;
}

#first-page.visible, #prev.visible, #next.visible, #last-page.visible {
/*display: inline-block;*/
  visibility: visible;
} 

#pager *:first-child {
  margin-left: 0;
}

#pager *:last-child {
  margin-right: 0;
}

#pager #pages {
  margin: 0;
  padding: 0;
  background: none;
}

#pager #pages span {
  min-width: 20px;
}

#pager #pages span.active {
  background: black;
  color: #FFF;
}